requests>=2.31.0
rich>=13.7.0
psutil>=5.9.8
Pillow>=10.3.0
PyMuPDF>=1.24.1
pyttsx3>=2.90
SpeechRecognition>=3.10.0
pyperclip>=1.8.2
schedule>=1.2.1
colorama>=0.4.6
qrcode>=7.4.2
pyfiglet>=1.0.2
google-generativeai>=0.5.0
pywhatkit>=5.4
pyshorteners>=1.0.1
speedtest-cli>=2.1.3
beautifulsoup4>=4.12.3
yt-dlp>=2024.3.10
alive-progress>=3.1.5
keyboard>=0.13.5
pyautogui>=0.9.54
plyer>=2.1.0
tabulate>=0.9.0
pypdf2>=3.0.1
pandas>=2.2.0
matplotlib>=3.8.0
python-docx>=1.1.0
validators>=0.22.0
faker>=24.3.0
httpx>=0.27.0
